<!DOCTYPE html>
<html>

<head>
    <title>Let's go Redrock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/Ajax.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/index.js" type="text/javascript" charset="utf-8" async defer></script> -->
</head>

<body>
    <div class="mainBody">
        <div class="UFO">
            <img src="../img/pinkUFO.png" alt="">
        </div>
        <div class="spaceStation">
            <img class="space" src="../img/endSpace.png" alt="spaceStation">
            <div class="redRock">
                <img src="../img/shine_0.png" alt="">
            </div>
            <img class="astronaut" src="../img/astronaut.png" alt="">
        </div>
        
        <div class="endWords">
            <img class="endBoard" src="../img/endBoard.png" alt="">
            <div class="thankWords">
                测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
            </div>
            <div class="backBtn">
                <img class="blueBtn" src="../img/backBlueBtn.png" alt="">
                <div class="yellowBtn">
                    <img class="backWords" src="../img/backWords.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>