<!DOCTYPE html>
<html>

<head>
    <title>Let's go Redrock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/Ajax.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/index.js" type="text/javascript" charset="utf-8" async defer></script> -->
</head>

<body>
    <div class="mainBody">
        <div class="UFO">
            <img src="../img/UFO.png" alt="">
        </div>
        <div class="readyWords">
            <img src="../img/waitingWords.png" alt="">
        </div>
        <div class="btnWrapper">
            <img class="right order" src="../img/rightOrder.png" alt="">
            <img class="left order" src="../img/leftOrder.png" alt="">
            <img class="top order" src="../img/topOrder.png" alt="">
            <img class="buttom order" src="../img/buttomOrder.png" alt="">

            <div class="playBtn">
                <img class="btn" src="../img/underButton.png" alt="">
                <img class="smallBtn" src="../img/smallButton.png" alt="">
            </div>
        </div>
    </div>
    <!-- <div class="cover"></div> -->
</body>

</html>