<!DOCTYPE html>
<html>

<head>
    <title>Let's go Redrock</title>
    <meta charset="utf-8">
</head>

<body>

    <audio src="../music/count.mp3" controls> </audio>
    <div class="mainBodyWrapper">
        <!-- <div class="bigUFOWrapper">
			
			<div class="ellipse">
				<img class="ellipse_0" src="../img/ellipse_0.png" alt="">
				<img class="ellipse_1" src="../img/ellipse_2.png" alt="">
			</div>
		</div> -->
        <div class="minBodyWrapper">
            <img class="music" src="../img/music.png" alt="">
            <img class="bigUFO" src="../img/bigUFO_2.png" alt="">
            <img class="UFOlight" src="../img/UFOlight.png" alt="">
            <img class="littleUFO" src="../img/littleUFO.png" alt="">
            <img class="astronaut" src="../img/astronaut.png" alt="">
            <img class="underLight" src="../img/underLight.png"></img>
            <img class="stateLight" src="../img/stageLight.png" alt="">
            <img class="purpleMeteor" src="../img/purpleMeteor.png" alt="">
            <img class="blueMeteor" src="../img/blueMeteor.png" alt="">
            <img class="num" src="../img/num_5.png" alt="">
            <img class="shine" src="../img/shineLight.png" alt="">
            <img class="state" src="../img/state.png" alt="">
        </div>
        <img class="bigPlane" src="../img/bigPlane.png" alt="">
    </div>
</body>

</html>