<!DOCTYPE html>
<html>

<head>
    <title>幸运玩家</title>
    <meta charset="utf-8">
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="wrapper_0">
            <div class="mainWrapper">
                <div class="top">
                	<img class="title" src="../img/end_title.png" alt="">
                    <img class="music" src="../img/music.png" alt="">
                </div>
                <div class="luckyStar">
                    <img class="lucky" src="../img/end_lucky.png" alt="">
                    <img class="luckyUser" src="" alt="" id="bigPrizeHead">
                    <p id="bigPrizeName"></p>
                </div>
                <div class="otherLucky">
                    <img class="littleTitle" src="../img/littleTitle.png" alt="">
                    <div class="userHeadWrapper">
                        <div class="userHead first">
                            <img class="background" src="../img/end_head.png" alt="">
                            <img class="user smallPrizeHead" src="" alt="">
                            <p class="smallPrizeName">redR</p>
                        </div>
                        <div class="userHead">
                            <img class="background" src="../img/end_head.png" alt="">
                            <img class="user smallPrizeHead" src="" alt="">
                            <p class="smallPrizeName">redRock</p>
                        </div>
                        <div class="userHead">
                            <img class="background" src="../img/end_head.png" alt="">
                            <img class="user" src="../img/npcHead.png" alt="">
                            <p class="npc">redRocjsfglkgjlag哈哈哈哈</p>
                        </div>
                        <div class="userHead">
                            <img class="background" src="../img/end_head.png" alt="">
                            <img class="user" src="../img/npcHead.png" alt="">
                            <p class="npc">redRock</p>
                        </div>
                        <div class="userHead">
                            <img class="background" src="../img/end_head.png" alt="">
                            <img class="user" src="../img/npcHead.png" alt="">
                            <p class="npc">redRock</p>
                        </div>
                        <div class="userHead">
                            <img class="background" src="../img/end_head.png" alt="">
                            <img class="user smallPrizeHead" src="" alt="">
                            <p class="smallPrizeName">redRock</p>
                        </div>
                        <div class="userHead">
                            <img class="background" src="../img/end_head.png" alt="">
                            <img class="user smallPrizeHead" src="" alt="">
                            <p class="smallPrizeName">redrock</p>
                        </div>
                    </div>
                </div>
                <div class="btn">
                    <img class="blue" src="../img/blueBtn.png" alt="">
                    <img class="yellow" src="../img/endYellowBtn.png" alt="">
                </div>
                <img class="astronaut" src="../img/end_astronaut.png" alt="">
                <img class="UFO" src="../img/end_UFO.png" alt="">

                <img class="blueMeteor" src="../img/end_blue.png" alt="">
                <img class="purpleMeteor" src="../img/end_purple.png" alt="">
            </div>
        </div>
    </div>
    <audio src="../music/end.mp3" autoplay loop></audio>
</body>

</html>