<!DOCTYPE html>
<html>

<head>
    <title>Let's go Redrock</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/Ajax.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/index.js" type="text/javascript" charset="utf-8" async defer></script> -->
</head>

<body>
<audio src="../music/wait.mp3" autoplay loop></audio>
    <div class="mainBody">
        <div class="UFO">
            <img src="../img/UFO.png" alt="UFO">
        </div>
        <div class="topWrapper">
            <div class="title">
                <div class="logo">
                    <img src="../img/logo.png" alt="logo">
                </div>
                <div class="words">
                </div>
            </div>
        </div>
        <img class="music shake-rotate" src="../img/music.png" alt="music">
        <div class="num">
            共有<span id="number">0</span>人
        </div>
        <div class="leftHead">
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
        </div>
        <div class="QRcode">
            <img src="../img/QRcode.png" alt="二维码">
        </div>
        <div class="rightHead">
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
            <div class="head">
                <img src="" alt="">
            </div>
        </div>
        <div class="btn shake-opacity">
            <img src="../img/button.png" alt="">
        </div>

        <img class="projection" src="../img/2.png" alt="">
        <img class="rocket" src="../img/rocket.png" alt="">
        <!-- <img class="left" src="../img/左边小星球.png" alt=""> -->

    </div>
</body>

</html>