<!DOCTYPE html>
<html>

<head>
    <title>Let's go Redrock</title>
    <meta charset="utf-8">
</head>

<body>
    <div class="mainBodyWrapper">
        <div class="topTitle">
            <img class="title" src="../img/playingTitle.png" alt="">
            <p class="progress">0%</p>
        </div>
        <img class="UFO" src="../img/UFO_playing.png" alt="">
        <!-- 空间站 -->
        <div class="spaceStation">
            <img id="station" src="../img/spaceStation_09.png" alt="">
            <!-- 黄色灯 -->
            <img class="yellowLight first" src="../img/yellowLight_0.png" alt="">
            <img class="yellowLight second" src="../img/yellowLight_0.png" alt="">
            <img class="yellowLight third" src="../img/yellowLight_0.png" alt="">
            <img class="yellowLight fourth" src="../img/yellowLight_0.png" alt="">
            
            <div class="astronaut">
                <img src="../img/astronaut_playing.png" alt="">
            </div>

            <div class="under">
                <img class="rocksss" src="../img/233.png" alt="">
            </div>


            <div class="redRock">
                <img class="rock" src="../img/redRock_90.png" alt="">
            </div>
            
        </div>
        <!-- 宇航员 -->
        <!-- <div class="astronaut">
            <img src="../img/astronaut_playing.png" alt="">
        </div> -->
        <!-- 用户头像 -->
        <div class="userHead">
            <div class="heads zero" id="first">
                <img src="" alt="">
            </div>
            <div class="heads one">
                <img src="" alt="">
            </div>
            <div class="heads two">
                <img src="" alt="">
            </div>
            <div class="heads three">
                <img src="" alt="">
            </div>
            <div class="heads four">
                <img src="" alt="">
            </div>
            <div class="heads five">
                <img src="" alt="">
            </div>
            <div class="heads six">
                <img src="" alt="">
            </div>
            <div class="heads seven">
                <img src="" alt="">
            </div>
            <div class="heads eight">
                <img src="" alt="">
            </div>
            <div class="heads nine">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <img class="bigPlane" src="../img/bigPlane.png" alt="">
</body>

</html>