<!DOCTYPE html>
<html>

<head>
    <title>Let's go Redrock</title>
    <meta charset="utf-8">
</head>

<body>
    <div class="mainBodyWrapper">
        <div class="topTitle">
            <img class="title" src="../img/playingTitle.png" alt="">
        </div>
        <div class="spaceStation">
            <img class="station" src="../img/spaceStation_0.png" alt="">
        </div>
        <div class="astronaut">
            <img src="../img/astronaut_playing.png" alt="">
        </div>
        <div class="userHead">
            <div class="heads zero"  id="first">
                <img src="../img/astronaut.png" alt="">
            </div>
            <div class="heads one">
                <img src="../img/countdownBackground.png" alt="">
            </div>
            <div class="heads two">
                <img src="../img/num_3.png" alt="">
            </div>
            <div class="heads three">
                <img src="" alt="">
            </div>
            <div class="heads four">
                <img src="" alt="">
            </div>
            <div class="heads five">
                <img src="" alt="">
            </div>
            <div class="heads six">
                <img src="" alt="">
            </div>
            <div class="heads seven">
                <img src="" alt="">
            </div>
            <div class="heads eight">
                <img src="" alt="">
            </div>
            <div class="heads nine">
                <img src="" alt="">
            </div>
        </div>
    </div>
</body>

</html>