* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HKHB';
    src: url('../font/华康海报体W12(1)/华康海报体W12.ttf');
    font-style: normal;
    font-weight: normal;
}

body{
    position: relative;
    background: url(../img/endBackground.png) no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.mainBody{
    width: 100%;
}

.UFO img, .movingUFO img{
    width: 100%;
}

.UFO{
    position: absolute;
    width: 1%;
    top: -2%;
    left: -6%;
    transition: width 2.5s;
}

.movingUFO{
    position: absolute;
    width: 18%;
    top: 6%;
    left: 9%;
    transition: width 2s, top 3s;
    z-index: 1000;
}


.spaceStation{
    position: relative;
    width: 100%;
    margin-top: -10%;
    /*margin-left: */
    transition: margin-top 1.5s;
}

.spaceStation img.space{
    width: 90%;
    margin-left: 5%;
}

.redRock{
    position: absolute;
    width: 100%;
    top: 68%;
    opacity: 1;
}

.redRock img{
    position: absolute;
    width: 72%;
    top: 30%;
    left: 14%;
}

img.astronaut{
    position: absolute;
    width: 20%;
    top: 89%;
    left: 51%;
}

.endWords{
    /*position: fixed;*/
    width: 100%;
    top: 55%;
}

.endWords img.endBoard{
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}

.thankWords{
    position: absolute;
    width: 70%;
    height: 100px;
    top: 61%;
    left: 14%;
    font-family: HKHB;
    font-size: 4.3vw;
    color: #ee9f78;
    line-height: 6vw;
}

.backBtn{
    position: relative;
    width: 36%;
    margin-left: 30%;
    margin-top: 5%;
    z-index: 10;
}
img.blueBtn{
    width: 100%;
}

.yellowBtn{
    position: absolute;
    width: 90%;
    background: url(../img/back.png) no-repeat;
    background-size: 100% 100%;
    z-index: 1000;
    margin-top: -43%;
    margin-left: 4%;
    line-height: 260%;
    -ms-text-align-last: center;
    text-align-last: center;
    font-family: "Tahoma";
}

.pressBtn{
    position: absolute;
    background: url(../img/backYellowBtn.png) no-repeat;
    background-size: 100% 100%;
    z-index: 1000;
    line-height: 260%;
    width: 80%;
    margin-top: -39%;
    margin-left: 8%;
    text-align-last: center;
    font-family: Tahoma
}

img.backWords{
    width: 70%;
}
