* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: url(../img/background.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 10%;
}

.mainBody{
    width: 100%;
}

.UFO img, .movingUFO img{
    width: 100%;
}

.UFO{
    position: absolute;
    width: 1%;
    top: -127%;
    left: -36%;
    transition: width 2.5s;
}

.movingUFO{
    position: absolute;
    width: 18%;
    top: -300%;
    left: 9%;
    transition: width 2s, top 3s;
}

.readyWords{
    width: 70%;
    margin-top: 96%;
    margin-left: 16%;
    transition: opacity 1.5s;
}

.readyWords img{
    width: 100%;
}

.btnWrapper{
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

.btnWrapper img.order{
    position: absolute;
    width: 20%;
}

.right{
    margin-top: 31%;
    margin-left: 83%;
}

.left{
    margin-left: -1%;
    margin-top: 31%;
}

.top{
    margin-left: 40%;
    margin-top: 3%;
}

.buttom{
    margin-left: 40%;
    margin-top: 70%;
}

.playBtn{
    position: relative;
}
.btnWrapper img.btn{
    width: 55%;
    position: absolute;
    margin-top: 26%;
    left: 22%;
}

.btnWrapper img.smallBtn{
    position: absolute;
    width: 40%;
    margin-top: 26%;
    left: 30%;
}

.btnWrapper img.pressSmallBtn{
    position: absolute;
    width: 35%;
    margin-top: 32%;
    left: 32%;
}










/*The end*/