* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: url(../img/background.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 0%;
}

.mainBody{
    width: 100%;
}

.UFO img, .movingUFO img{
    width: 100%;
}

.UFO{
    position: absolute;
    width: 1%;
    top: -127%;
    left: -36%;
    transition: width 2.5s;
}

.movingUFO{
    position: absolute;
    width: 18%;
    top: -300%;
    left: 9%;
    transition: width 2s, top 3s;
}

.readyWords{
    width: 70%;
    margin-top: 99%;
    margin-left: 16%;
    transition: opacity 1.5s;
}

.readyWords img{
    width: 100%;
}

.btnWrapper{
    position: relative;
    width: 50%;
    margin-left: 26%;
    margin-top: 7%;
}

.btnWrapper img.order{
    position: absolute;
    width: 20%;
}

.right{
    margin-top: 31%;
    margin-left: 83%;
}

.left{
    margin-left: -1%;
    margin-top: 31%;
}

.top{
    margin-left: 40%;
    margin-top: 3%;
}

.buttom{
    margin-left: 40%;
    margin-top: 70%;
}

.playBtn{
    position: relative;
}
.btnWrapper img.btn{
    width: 55%;
    position: absolute;
    margin-top: 26%;
    left: 22%;
}

.btnWrapper img.smallBtn{
    position: absolute;
    width: 45.6%;
    margin-top: 24%;
    left: 26.2%;
}

.btnWrapper img.pressSmallBtn{
    position: absolute;
    width: 42%;
    margin-top: 28%;
    left: 28%;
}

.cover{
    width: 100%;
    position: absolute;
    top: -450%;
    left: 0;
    background: pink;
    opacity: 0.6;
}








/*The end*/