* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: url(../img/playingBackground.png) no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}

.mainBody{
    width: 100%;
}

.UFO img, .movingUFO img{
    width: 100%;
}

.UFO{
    position: absolute;
    width: 1%;
    top: -27%;
    left: -36%;
    transition: width 2.5s;
}

.movingUFO{
    position: absolute;
    width: 18%;
    top: 10%;
    left: 9%;
    transition: width 2s, top 3s;
    z-index: 1000;
}


.spaceStation{
    position: relative;
    width: 100%;
    margin-top: 28%;
    /*margin-left: */
}

.spaceStation img.space{
    width: 90%;
    margin-left: 5%;
}

.redRock{
    position: absolute;
    width: 100%;
    top: 67%;
    opacity: 0.1;
}

.redRock img{
    position: absolute;
    width: 72%;
    top: 20%;
    left: 14%;
}

img.astronaut{
    position: absolute;
    width: 20%;
    top: 89%;
    left: 46%;
}


.btnWrapper{
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 30%;
}

.btnWrapper img.order{
    position: absolute;
    width: 20%;
}

.right{
    margin-top: 31%;
    margin-left: 83%;
}

.left{
    margin-left: -1%;
    margin-top: 31%;
}

.top{
    margin-left: 40%;
    margin-top: 3%;
}

.buttom{
    margin-left: 40%;
    margin-top: 70%;
}

.playBtn{
    position: relative;
}
.btnWrapper img.btn{
    width: 55%;
    position: absolute;
    margin-top: 26%;
    left: 22%;
}

.btnWrapper img.smallBtn{
    position: absolute;
    width: 40%;
    margin-top: 26%;
    left: 30%;
}

.btnWrapper img.pressSmallBtn{
    position: absolute;
    width: 35%;
    margin-top: 30%;
    left: 32%;
}


